<section data-ng-controller="ShowcaseController">
    <div class="container show-case">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="title">
                    Page Title
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                    <span>
                        Title
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="title">
                    Headings
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Heading 1</h1>
                <h2>Heading 2</h2>
                <h3>Heading 3</h3>
                <h4>Heading 4</h4>
                <h5>Heading 5</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="title">
                    Buttons
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            	<button class="btn btn-primary">
            		Primary Button
            	</button>
            	<button class="btn btn-secondary">
            		Secondary Button
            	</button>
            </div>
        </div>
    </div>
</section>
