<div class="container" data-ng-controller="SupportController">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Support</h1>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 info-page">
        <p class="intro-paragraph">
            Trajans is a B2C (business to consumer) online marketplace that specialises in the trade of physical and digital goods within the bitcoin economy. Trajans's mission is simple - to connect buyers (consumers) and sellers (merchants / businesses) and facilitate the transaction using bitcoin as a medium of exchange. Trajans is challenging traditional online market platforms by lowering the excessive fees of local and international B2C trade and increasing sales opportunity by marketing merchants to new and existing digital currency participants.
        </p>

        <h3>Features of bitcoin</h3>

        <ul>
            <li>
                <strong>Transactions are near instantaneous and borderless</strong> – Bitcoin can be transferred from Australia to China in 10 minutes. There is no bank to slow down the process, level outrageous fees, or freeze the transfer. You can pay a friend across the dinning table at a restaurant when splitting the bill the same way as you can pay for the purchase of an item in another country.
            </li>
            <li>
                <strong>Zero or minimal fees</strong> – Bitcoin's high cryptographic security allows it to process transactions in a very efficient and inexpensive way. You can make and receive payments using the Bitcoin network with almost no fees. In most cases, fees are not strictly required but they are recommended for faster confirmation of your transaction.
            </li>
            <li>
                <strong>No risk of charge-backs (its irreversible) -</strong> Any business that accepts credit cards or PayPal knows the problem of payments that are later reversed. Charge-back frauds result in limited market reach and increased prices, which in turn penalises customers. Bitcoin payments are irreversible and secure, meaning that the cost of fraud is no longer pushed onto the shoulders of the merchants.
            </li>
            <li>
                <strong>It is secure -</strong> Bitcoin transactions are secured by military grade cryptography. Nobody can charge you money or make a payment on your behalf. So long as you take the required steps to protect your wallet , Bitcoin can give you control over your money and a strong level of protection against many types of fraud. 
            </li>
            <li>
                <strong>Protect your identity -</strong> With Bitcoin, there is no credit card number that some malicious actor can collect in order to impersonate you. In fact, it is even possible to send a payment without revealing your identity, almost just like with physical money. You should however take note that some effort can be required to protect your privacy.
            </li>
            <li>
                <strong>Expand your market -</strong> Bitcoin is an emerging market of new customers who are searching for ways to spend their bitcoins. Accepting them is a good way to get new customers and give your business some new visibility. Accepting a new payment method has often shown to be a clever practice for online businesses.
            </li>
            <li>
                <strong>It is deflationary –</strong> Only 21 million bitcoin will ever be created under the original specification. This means that after that, the number of bitcoins won’t grow, so inflation won’t be a problem, in fact, deflation – where the price of goods and services potentially fall.
            </li>
            <li>
                <strong>It represents freedom (its decentralised!) –</strong> Because bitcoin is decentralised, it represents a new level of independence, and freedom. Bitcoin allows individuals and businesses alike, sovereignty over their own money.
            </li>
        </ul>

        <h3>What is bitcoin?</h3>
        <p>
            Bitcoin – money for the internet, is a decentralised digital currency that enables fast, secure and low cost payments to anyone, anywhere in the world. Bitcoin uses peer-to-peer technology to operate with no central authority; managing transactions and issuing money are carried out collectively by the network. Bitcoin allows individuals sovereignty over their own money. Conceived by Satoshi Nakamoto in 2008 and introduced to the world in 2009, bitcoin is one of the first successful implementations of a distributed crypto-currency. Bitcoin is designed around the idea of using cryptography to control the creation and transfer of money, rather than relying on central authorities. The current market capitalisation of bitcoin is 5.12 billion AUD (19/03/15). Further information of bitcoin can be found at www.bitcoin.org
        </p>

        <h3>How does Trajans calculate the bitcoin price?</h3>
        <p>
            Trajans uses the Coinjar Fair Rate. CoinJar calculates buy and sell rates using a proprietary algorithm which takes a weighted volume across global exchanges, then takes into account current liquidity, availability and other market factors to determine the best rate at which bitcoin can be exchanged for Australian dollars. You can read more about Coinjar <a href="#!/coinjarfaq">here</a>.
        </p>

        <h3>How long do I have to pay for an item?</h3>
        <p>
            All items must be paid within 15 minutes of selecting 'Add to Cart'. Failing to complete the payment within 15 minutes will result in a “Expired” order payment status and you will need to reselect your products.
        </p>

        <h3>How can I recover my password?</h3>
        <p>
            From the 'Sign In' page, select 'Forgot Password'. Enter your email address and select 'Send Email'. Check and open your email from the Trajans Support Team and follow the link. Enter a 'New Password' and 'Verify Password. Select 'Update Password'. You will now see 'Password Successfully reset in your browser' and receive a confirmation email from the Trajans Support Team.
        </p>

        <h3>How do I change my password?</h3>
        <p>
            From the user dashboard, select the 'Security' tab, 'Change Password'. Enter your 'Current Password', 'New Password' and 'Verify Password'. Select 'Save Password'. You will now see a 'Success' notification in your browser followed by a confirmation email from the Trajans Support Team.
        </p>

        <h3>Why am I not receiving email notifications?</h3>
        <p>
            Check your junk mail folder or spam filter for the missing emails.
        </p>
        <ol>
            <li>Make sure that your email address, in your account settings, is entered correctly.</li>
            <li>Verify that your email client, such as Outlook, is not in “offline” mode.</li>
            <li>If you use a POP3 connection to retrieve your email, please verify that the emails were not downloaded to a different computer.</li>
            <li>Add Trajans to your Safe Email list</li>
        </ol>

        <h3>I think my account has been compromised - now what?</h3>
        <p>Contact support immediately so we can temporarily suspend your account. We will enter into a user re-verification process with you.</p>

        <h3>What is Google 2FA (2-Factor Authentication)?</h3>
        <p>
            2-Factor Authentication adds an extra layer of security to your Trajans Account, drastically reducing the chances of having the personal information in your account stolen. To break into an account with 2-Step Verification, bad guys would not only have to know your user-name and password, they'd also have to get a hold of your phone. Trajans encourages all memebers to use 2FA for additional security. You can find 2FA in your User Dashboard under the security tab – select 'SET UP GOOGLE AUTHENTICATOR'
        </p>

        <h3>How do I become a Trajans merchant?</h3>
        <p>
            Its easy, joins us for your free 14 day trial. Merchants will be asked to enter basic merchant details (store name, biography, logo etc), connect to Coinjar or enter an alternative bitcoin address, choose a merchant plan and get verified
        </p>

        <h3>Choosing a subscription plan</h3>
        <p>
            We've introduced 4 subscriptions plans and a FIVE for $5 quick seller option. Our subscription plans cater for merchants with a minimal amount of inventory right through to merchants with a large collection. No mater if your new to e-commerce and bitcoin or a seasoned retail veteran we've got an option to suit your needs and budget.
        </p>

        <h3>What are the charges to sell?</h3>
        <p>
            Trajans does not charge a listing fee or success fee. We offer merchants the opportunity to subscribe to our services – this means for as little as $25.00 a month, merchants can list up-to 40 items and will not be charged for the listing or penalised with a success fee! See our full merchant subscription schedule below.
        </p>

        <h3>What payment processors do you offer?</h3>
        <p>
            Trajans's integrated payment processor is CoinJar. Alternatively as a merchant you can add a bitcoin address that links to any bitcoin wallet or bitcoin payment processor of your choice.
        </p>

        <h3>How do I receive my funds?</h3>
        <p>
            We offer merchants the option to receive funds directly to their choice of bitcoin wallet or alternatively into bitcoin or AUD via payment processor Coinjar. For full instructions on how to set up your CoinJar Checkout and link it to your Trajans Merchant Account view our <a class="bold" href="#!/coinjarfaq">CoinJar Support page</a>.
        </p>

        <h3>How do I buy an item?</h3>
        <p>
            It’s easy. Become a member by signing up to Trajans and then select 'Add to Cart on any listing. Follow the 3 step checkout procedures and pay with bitcoin.
        </p>

        <h3>What is an ID Verified Merchant?</h3>
        <p>
            ID Verified Merchants have been manually verified by Trajans's support team. ID Verification procedures are put in place in order to minimise fraud and ensure the quality and integrity of our merchants are at the highest levels possible.
        </p>

        <h3>How do I become an ID Verified Merchant?</h3>
        <p>
            To begin the verification procedure visit the user dashboard http://www.ltclancer.com/#!/settings/verify
            You will need to provide two forms of identification.
        </p>
        <ul class="nested-list">
            <li>1. Government issued photo ID showing your full name and date of birth. The document must:</li>
            <li>
                <ul>
                    <li>Be current (i.e. not expired).</li>
                    <li>Be in full colour.</li>
                </ul>
            </li>
        </ul>
        <p>Driver licence, proof of age card, and passport are good examples.</p>
        <ul class="nested-list">
            <li>2. A statement showing your full name and current residential address. The statement must:</li>
            <li>
                <ul>
                    <li>Be current (i.e. issued in the last 3 months).</li>
                    <li>Be addressed to you and physically sent to your current residential address.</li>
                    <li>Not be addressed to a PO box. We may accept a statement sent to a PO box providing the residential address is listed clearly on the statement.</li>
                    <li>Not be electronically generated (e.g. sent to you as a PDF).</li>
                </ul>
            </li>
        </ul>

        <p>
            Utility bills, bank statements and tax statements are good examples. Additionally, if you're unable to provide a statement meeting the above conditions, your local bank branch should be able to print and stamp an address confirmation statement.
        </p>
        <p>
            These documents must be scanned or photographed at high resolution, then uploaded separately under the appropriate category. You may watermark the image for security purposes providing the watermark does not obscure any of the elements described above. We may reject watermarked images at our discretion.
        </p>
        <p>
            Your identification documents will be securely transferred only over Secure Socket Layer (SSL) and stored using bank-grade encryption.
        </p>
        <p>
            Manual ID verification can take up to three business days. If you have not been identified within this time, or you wish to request that the process be expedited, please contact our support team.
        </p>

        <h3>How does the review (reputation) system work?</h3>
        <p>
            After a transaction has been completed, buyers are required to leave a review (feedback) on the merchants profile. This action can be completed via the 'User Dashboard', under the 'Buying' tab, 'Leave Review'. Merchants average review scores are listed on their profile and product pages and are calculated in a 1-5 start rating format (1 being lowest, 5 being highest). The Merchant average score is calculate as Total of all ratings divided by total number of reviews.
        </p>

        <h3>Prohibited items?</h3>
        <p>
           You must not list anything that is illegal, offensive (including anything of a defamatory, pornographic, or racially or ethnically objectionable nature), stolen, or unsafe, anything which infringes copyright or other intellectual property rights, items which have been illegally imported or which would require illegal import or export in order to complete the transaction, or any item of which the sale is prohibited by, or violates any, law. Other prohibited items include firearms, ammunition, weapons and drugs (including prescription). 
        </p>

        <h3>Reporting a listing</h3>
        <p>
           Trajans members are encouraged to report any listings they believe violate Trajans's Terms and Conditions. Reporting a listing will result in Trajans investigating the claim and determining any required action.
        </p>

        <h3>Reporting an issue</h3>
        <p>
           If you identify a glitch or a bug, let us know. We want to create a seamless shopping experience. Any identification of issues or site suggestion will be reviewed. Your currency your marketplace.
        </p>

        <h3>What is escrow?</h3>
        <p>
           Escrow provides buyer's with an optional safety net when purchasing from <strong>unverified sellers</strong>. After the buyer has completed the checkout procedure, funds are temporarily transferred to a secure holding account, where they will be redistributed to the merchant on the buyers reception of the item. Trajans's optional secure escrow has been introduced to minimise fraud and ensure the quality and integrity of unverifed merchants are at the highest levels possible..
        </p>

        <h3>How do you secure escrow funds?</h3>
        <p>
           Escrow funds are transferred to our off-line wallets where they will be transferred to a cold wallet until the reception of the item is confirmed by the buyer.
        </p>

        <h3>I am unable to list items without offering escrow, why?</h3>
        <p>
           Only verified merchants can list items without the need to offer escrow. Become a verified merchant.
        </p>

        <h3>How much do you charge for escrow, and where does the fee come out from?</h3>
        <p>
            The cost for buyers using the optional secure escrow service is 1% of the total purchase price. This fee is added to the total transaction and auto deducted prior to funds being released to the merchant.
        </p>

        <h3>Am I eligible for an escrow refund?</h3>
        <p>
            If you have not received your purchase or you believe the item differs to what was advertised, and have attempted to resolve the issue with the seller, you may be eligible for an escrow refund. Select the 'Get Help' button on the user dashboard, buyers tab, at the bottom of the screen and our support team will investigate the mater for you.
        </p>

        <h3>How can I get an escrow refund?</h3>
        <p>
            Select the 'Get Help' button on the user dashboard, buyers tab, at the bottom of the screen and our support team will investigate the mater for you.
        </p>

        <h3>How long does the resolution process for escrow transaction take?</h3>
        <p>
            The resolution process may take anywhere between 7 and 21 days. When a decision has been reached, the refund should be in the ownership of the recipient within 60 minutes.
        </p>

        <h3>How are escrow disputes resolved.</h3>
        <p>
            Trajan encourages merchants and buyers to resolve disputes with the counter-party;
        </p>
        <span class="bold-italic">Buyer initiates escrow refund</span>
        <ul class="nested-list">
            <li>&bull; Buyer does not receive item within 14 days. Buyer can request an escrow refund.</li>
            <li>1. Select User Dashboard, under the buying tab, select 'Get Help' button. Buyer will need to provide the reason for escrow refund request and submit any supporting evidence or documentation.</li>
            <li>2. Merchant will be emailed by Trajans and provided with the buyers reason for escrow refund request and any supporting evidence or documentation.</li>
            <li>3. Merchant will be given 72 hours to contact the buyer and resolve the issue or open a dispute.</li>
            <li>
                <ul>
                    <li>Failing to reply within 72 hours may result in Trajans releasing funds to buyer.</li>
                    <li>Failing to resolve the issue with the buyer may result in Trajans releasing funds to buyer</li>
                    <li>Merchant providing proof of delivery may result in funds being released to merchant</li>
                </ul>
            </li>
        </ul>
        <span class="bold-italic">Merchant initiates escrow refund</span>
        <ul class="nested-list">
            <li>&bull; If a buyer is not releasing funds within 14 days, merchant can request an escrow refund from Trajans.</li>
            <li>&bull; Buyer will be contacted by Trajans and given 72 hours to contact the merchant and resolve the issue or dispute the escrow payment.</li>
            <li>
                <ul class="circle-bulls">
                    <li>Failing to reply within 72 hours may result in Trajans releasing funds to buyer.</li>
                    <li>Failing to resolve the issue with the merchant may result in Trajans releasing funds to merchant</li>
                    <li>Merchant providing proof of delivery may result in funds being released to merchant</li>
                </ul>
            </li>
        </ul>
        <span class="bold-italic">Inactive escrow funds</span>
        <p>If the buyer does not release escrow or raise a dispute and seller does not request a refund escrow will be auto released after 21 days.</p>
        <span class="bold-italic">How does Trajans determine a final solution?</span>
        <p>In the event that a resolution is unsuccessful between a merchant and buyer, Trajans follows an impartial systematic approach to reach a final solution.</p>
        <span class="italic">The key factors that determine our solutions are:</span>
        <ul>
            <li>Evidence of purchased items being received by the buyer e.g. (tracking number, consignments note)</li>
            <li>Does the purchased item have postal insurance</li>
            <li>Prior transactions with Trajans including escrow</li>
            <li>Visual evidence of any damage to the purchased item e.g. (photos, video)</li>
           <li>Willingness of a merchant and seller to cooperate with our requests for information</li>
            <li>Willingness of Merchant to accept returned item(s)</li>
            <li>Verification of buyer and seller's details</li>
        </ul>
    </div>
</div>