<div class="container terms-and-conditions margin-bottom-20" data-ng-controller="HomeController">
	<h1 class="margin-top-50 margin-bottom-20">Terms and Conditions</h1>

	<p>
		<span class="span-header-large">1. Terms and Conditions</span>
	</p>
	<p>
		<span class="span-header">1.1 Acceptance of terms and conditions:</span> The terms and conditions are the terms
		on which trajans.market offers you access to the Services and the Website. By registering as a member of
		trajans.market you accept these terms and conditions. If you do not accept these terms and conditions, you must
		refrain from using the Services.
	</p>
	<p>
		<span class="span-header">1.2 Amendment of terms and conditions</span>: As trajans.market operates in a changing
		commercial, technological and regulatory environment, we may amend these terms and conditions from time to time.
		Unless otherwise stated, amendments will be effective immediately upon posting of the amended terms and
		conditions on this Website. You are responsible for ensuring you are familiar with the latest terms and
		conditions. Your continued use of the Services represents your agreement to be bound by the terms and conditions
		as amended.
	</p>
	<p>
		<span class="span-header">These terms and conditions were first implemented on the 18th of March 2017. </span>
	</p>
	<p>
		<span class="span-header">1.3 Terminology:</span> In these terms and conditions, the following expressions have
		the meanings set out:
	</p>
	<p class="paragraph-indent">
		'item', 'items' means goods or property that may be bought or sold through the marketplace process;
	</p>
	<p class="paragraph-indent">
		'member' means a registered member of trajans.market;
	</p>
	<p class="paragraph-indent">
		'services' means any one or more of the services offered by trajans.market , from time to time, including
		marketplace and any other service that trajans.market may offer;
	</p>
	<p class="paragraph-indent">
		'we', 'us' and 'our' are a reference to trajans.market;
	</p>
	<p class="paragraph-indent">
		'you' and 'your' are a reference to you;
	</p>
	<p class="paragraph-indent">
		'Website' means any trajans.market website through which the services are offered;
	</p>
	<p class="paragraph-indent">
		'listing' means a listing on the Website through which you buy, sell or advertise any item;
	</p>
	<p class="paragraph-indent">
		'seller' and 'merchant' includes any person, business or entity placing a listing.
	</p>
	<p class="paragraph-indent">
		'buyer' includes any person, business or entity purchasing an item.
	</p>
	<p>
		<span class="span-header-large">2. Specific Warnings</span>
	</p>
	<p>
		<span class="span-header">2.1 The Services:</span> trajans.market provides a venue to introduce members who want
		to buy and sell items. If a purchase is accepted by a buyer, a contract of sale will be formed between the buyer
		and the seller directly. trajans.market does not take any part in the sale of items other than by:
	</p>
	<ol type="a">
		<li>
			<p>
				providing our Website as a venue for members, and
			</p>
		</li>
		<li>
			<p>
				providing an optional Buyers Protection (moderated payment) in the form of multi signature escrow
				(M-­of-­N), full details of this service are set out on our

				<span class="span-header">buyers protection page</span> in the support section.
			</p>
		</li>
	</ol>
	<p>
        <span style="padding-left:40px;"> We do not act as agent for either party and do not participate in any sale or
            transaction between you and fellow members, other than as provided in clause 2.1(b).
        </span>
	</p>
	<p>
		<span class="span-header">2.2 At your own risk</span>: Transactions and all other contact between you and other
		members are conducted entirely at your own risk. You agree that trajans.market takes no responsibility or
		liability for any misconduct of any of its members including, without limitation, members that have registered
		under false pretences or who attempt to defraud you. trajans.market gives no undertakings, representations, or
		warranties in relation to items sold or listed on the Website, including:
	</p>
	<ol type="a">
		<li>
			<p>
				about ownership of any item;
			</p>
		</li>
		<li>
			<p>
				as to the content, safety, description, worthiness, quality, or legality of the items that are listed on
				the Website;
			</p>
		</li>
		<li>
			<p>
				as to the accuracy or truth of listings;
			</p>
		</li>
		<li>
			<p>
				that any item, will meet your requirements or expectations; or
			</p>
		</li>
		<li>
			<p>
				about the ability of members to complete a transaction, including bitcoin transactions.
			</p>
		</li>
	</ol>
	<p>
		<span class="span-header">2.3 Disclaimer</span>: You expressly understand and agree that:
	</p>
	<ol type="a">
		<li>
			<p>
				your use of the Services is at your sole risk. The Website and Services are provided on an "as is" and
				"as available" basis. To the maximum extent permitted by law and without limiting clause 2.2,
				trajans.market disclaims and excludes all implied conditions or warranties, including, but not limited
				to, any warranties of merchantability, fitness for a particular purpose, and non-infringement;
			</p>
		</li>
		<li>
			<p>
				trajans.market does not warrant that any information (including feedback) provided on the Website is
				error-free or reliable;
			</p>
		</li>
		<li>
			<p>
				no advice or information that is obtained by you from trajans.market or anyone else shall create any
				warranty by trajans.market that is not expressly stated in the terms and conditions; and
			</p>
		</li>
		<li>
			<p>
				responsibility for the content of advertisements appearing on this Website (including hyperlinks to
				advertisers' own websites) rests solely with the advertisers. The placement of such advertisements on
				the Website does not constitute trajans.market's recommendation or endorsement of the advertised product
				or service. Each advertiser is solely responsible for any representation made in connection with its
				advertisement.
			</p>
		</li>
		<li>
			<p>
				while trajans.market may facilitate payment for some items through Buyers Protection (moderated payment)
				in the form of multi signature escrow (M-­of-­N), trajans.market is in no way involved in the
				transaction itself, and responsibility for any refund rests with the seller, other than as provided in
				clause 4.2 n (i), (ii); 4.3 f (i), (ii).
			</p>
	</ol>
	<p>
		<span class="span-header">2.4 Liability:</span> You agree that, to the maximum extent permitted by law, any and
		all liability and responsibility of trajans.market to you or any other person under or in connection with these
		terms and conditions, or in connection with the services, this Website, another Member's acts or omissions, or
		your use of or inability to use, the services or this Website, is excluded regardless of whether such liability
		arises in contract, tort (including negligence), equity, breach of statutory duty or otherwise. trajans.market
		liability and responsibility is excluded in respect of any and all loss or damage, whether direct or indirect,
		including, without limitation, loss of profits, loss of data, loss of business or anticipated savings, general
		and special damages, and consequential and incidental loss.
	</p>
	<p>
		<span class="span-header">2.5 Indemnity</span>: You agree to release, indemnify and keep indemnified us from and
		against all actions, claims, costs (including legal costs and expenses), losses, proceedings, damages,
		liabilities, or demands suffered or incurred by us to any person arising out of or in connection with your
		failure to comply with these terms and conditions, your failure to complete a transaction, your use of
		trajans.market message systems, your sale or attempted sale of an item prohibited under clause 4.2(e), or
		arising out of any content or item you submit, post, transmit, or make available through the Services.
	</p>
	<p>
		<span class="span-header">2.6 Breach</span>: Without limiting any other rights and remedies available to
		trajans.market, trajans.market may limit your activities on the Website, remove your listings or other content,
		warn other members of your actions, issue a warning to you, suspend or terminate your membership, or refuse to
		provide our Services to you if you breach these terms and conditions or where trajans.market considers it
		appropriate.
	</p>
	<p>
		<span class="span-header">2.7 Additional rules</span>: In addition to the terms and conditions set out in this
		document, other documentation including but not limited to the Banned and Restricted Items list, form part of
		these terms and conditions.
	</p>
	<p>
		<span class="span-header-large">3. Becoming a member</span>
	</p>
	<p>
		<span class="span-header">3.1 Becoming a Member</span>: You may only register as a member if you can form a
		legally binding contract that is enforceable against you. You must be at least 18 years old. By registering as a
		member, you warrant that you can form a legally binding contract.
	</p>
	<p>
		<span class="span-header">3.2 Accurate Information</span>: You warrant that you have provided complete, accurate
		and current information when registering as a member. You must maintain and update your information held by
		trajans.market to ensure it is kept current at all times. trajans.market may phone or email you to verify these
		details. You must not register as a member under multiple identities or personas (whether false or not).
		However, at trajans.market discretion, you may create a merchant account in addition to your personal account.
	</p>
	<p>
		<span class="span-header">3.3 Termination of membership</span>: trajans.market reserves the right to decline to
		register or to terminate your membership without entering into further discussions with you. Without limiting
		the foregoing, trajans.market may terminate your membership if a serious complaint or multiple complaints are
		received about you from other members, if you breach these terms and conditions, if you impersonate another
		member, or if we, at our sole discretion, deem your behaviour to be unacceptable. Members who have registered
		under multiple aliases will have all of their aliases disabled. In the event of termination, you also agree that
		you will not open or attempt to open any new trajans.market memberships. You may at any time close your
		trajans.market membership providing that all transactional obligations are fulfilled. If you close your
		membership, or if it is terminated by trajans.market, your ability to use the trajans.market website will end.
		To the extent that you continue to access the site, clauses 2.2-2.5, 4.1 and 6.8 of these terms continue to
		apply.
	</p>
	<p>
		<span class="span-header">3.4 Security of your login information</span>: You are responsible for keeping your
		login information, including your email address and password, secret and secure. Without limiting the foregoing,
		you agree:
	</p>
	<ol type="a">
		<li>
			<p>
				not to permit any other person to use your user name or membership; and
			</p>
		</li>
		<li>
			<p>
				not to disclose, or provide to any other person, your password, email address, or any other information
				in connection with your membership that may allow them to gain access to your membership.
			</p>
		</li>
	</ol>
	<p>
		<span class="span-header">3.5 Emails and newsletters</span>: trajans.market will send you emails relating to
		your membership, transactions and other activities on the Website, and for promoting and marketing other
		trajans.market products and Services to you. trajans.market may also send regular electronic newsletters to
		members. Newsletters will contain clear and obvious instructions for how you can unsubscribe from the mailing
		list.
	</p>
	<p>
		<span class="span-header-large">4. General Rules</span>
	</p>
	<p>
		<span class="span-header">4.1 General</span>
	</p>
	<ol type="a">
		<li>
			<p>
				All listings or communications made through trajans.market shall be made in good faith.
			</p>
		</li>
		<li>
			<p>
				You must not damage, interfere with or harm the Website or Services, or any network, or system
				underlying or connected to them, or attempt to do so.
			</p>
		</li>
		<li>
			<p>
				You may not use a robot, spider, scraper or other unauthorised automated means to access the Website or
				information featured on it for any purpose without trajans.markets permision.
			</p>
		</li>
		<li>
			<p>
				You shall not list your email address, phone number or any other contact detail within the description
				of listings, listing comments and/or questions, in your member or merchant profile page, or through the
				internal message system.
			</p>
		</li>
		<li>
			<p>
				Not withstanding 4.1d above, you may enter your appropriate contact details in the relevant contact
				detail fields which specifically provide for those details.
			</p>
		</li>
		<li>
			<p>
				Your listing must include your juristictions local tax (if applicable) within the listed price. All tax
				obligations are the responsibility of the seller and/or the buyer (as the parties determine).
			</p>
		</li>
		<li>
			<p>
				You must not complete a transaction that was initiated through trajans.market, outside of the
				trajans.market process. Attempts by you to do so may result in trajans.market suspending or terminating
				your membership at the discretion of trajans.market.
			</p>
		</li>
		<li>
			<p>
				You must not use the Services or the Website to promote items for sale outside the Services.
			</p>
		</li>
		<li>
			<p>
				You are responsible for any actions taken through your membership. trajans.market memberships are not
				transferable and therefore cannot be sold, leased, lent or traded without specific written authorisation
				from trajans.market.
			</p>
		</li>
	</ol>
	<p>
		<span class="span-header">4.2 Your obligations as a seller</span>
	</p>
	<ol type="a">
		<li>
			<p>
				You will only enter listings that are accurate, current, complete, and include all relevant information
				about the terms of sale, payment terms, shipping methods and the cost of shipment. You must list an item
				in one category only which must be the most appropriate category for your item. If your item is likely
				to attract customs duty for buyers outside of the item location, you must ensure that this is clearly
				indicated in your listing.
			</p>
		</li>
		<li>
			<p>
				You will only place listings for items that exist, are to be sold, and that you are legally entitled to
				sell. You will only list items that are in your possession, except where trajans.market has approved
				otherwise in writing.
			</p>
		</li>
		<li>
			<p>
				You may only sell or offer relevant services in our Travel, Events & Activities Category. You may only
				sell bookings and tickets in our Travel, Events & Activities Category. All flight tickets, accommodation
				and travel packages must be able to be transferred into the buyer's name from within the country of
				purchase (either directly with the airline, service provider, or via a travel agent).
			</p>
		</li>
		<li>
			<p>
				All listings must comply with Australian law. You must not list anything that is illegal, offensive
				(including anything of a defamatory, pornographic, or racially or ethnically objectionable nature),
				stolen, or unsafe, anything which infringes copyright or other intellectual property rights, items which
				have been illegally imported or which would require illegal import or export in order to complete the
				transaction, or any item of which the sale is prohibited by, or violates any, law. You are responsible
				for ensuring that any listing by you does not breach this clause 4.2(d). You agree that trajans.market
				may disclose your personal information, including your name and contact details, to the relevant
				authorities, parties and/or the applicable intellectual property right holders (or their
				representatives) if we consider that you are in breach of this clause 4.2(d) at any time.
			</p>
		</li>
		<li>
			<p>
				To protect your images, we may watermark with our logo any images you upload to your listings. You must
				ensure you hold the copyright or are otherwise licensed to use any images you add to your listings.
			</p>
		</li>
		<li>
			<p>
				When you list an item for sale on trajans.market, you should do so with the intention of selling this
				item through the site. Therefore you should ensure you have sufficent stock to fullfil all advertised
				listings at all times.
			</p>
		</li>
		<li>
			<p>
				Your listing may only contain a URL for a website that contains further information on the item you have
				listed. This website must not offer any items for sale, or contain contact details. You must not use
				trajans.market listings to promote a business or website other than one for sale in your listing.
			</p>
		</li>
		<li>
			<p>
				You must not use the Services or the Website to sell items that are of a speculative nature including,
				but not limited to, pyramid or similar schemes.
			</p>
		</li>
		<li>
			<p>
				You will only list adult rated content (videos, magazines, DVD's, etc) in the Adult category. Adult
				content listed in non-adult categories will be removed or moved to the Adult category.
			</p>
		</li>
		<li>
			<p>
				Listings are not pre-screened for content. trajans.market reserves the right to remove any listing that
				it deems unsuitable or in breach of the terms and conditions.
			</p>
		</li>
		<li>
			<p>
				You must promptly forward the listed item to the buyer on completion of the transaction and provde a
				tracking number.
			</p>
		</li>
		<li>
			<p>
				You must not charge unreasonable amounts for shipping and packaging costs.
			</p>
		</li>
		<li>
			<p>
				The sale of films, videos, DVDs, VCDs, laser disks and games must be listed with thier relevant
				Classification information. It is an offence to sell any of these items if they have not been examined
				and classified by the appropriate agencies. When listing these items for sale, you must include within
				your listing, the relevant classification rating and all information on the classification label.
			</p>
		</li>
		<li>
			<p>
				If you offer Buyers Protection (moderated payment) and the buyer chooses the Buyers Protection
				(moderated payment) method, you agree to:
			</p>
			<ol type="i">
				<li>
					<p>
						attempt to resolve any issue with the buyer first, and to inform trajans.market and co-operate fully and
						reasonably to resolve any problem transaction before requesting a payment through trajans.market.
					</p>
				</li>
				<li>
					<p>
						trajans.market as the artibator and any decsion taken by trajans.market to be be deemed final.
					</p>
				</li>
			</ol>
		</li>
	</ol>
	<p>
		<span class="span-header">4.3 Your obligations as a buyer </span>
	</p>
	<ol type="a">
		<li>
			<p>
				Your purchase is not retractable once you select 'buy now' or 'add to basket'. You must only 'buy now'
				or 'add to basket' if you intend to purchase the relevant item at the listed price.
			</p>
		</li>
		<li>
			<p>
				You must make full and prompt payment for any item you buy.
			</p>
		</li>
		<li>
			<p>
				You agree to your username, city and the amount of your purchase being publicly shown on the
				trajans.market Website. You also agree to your delivery address and contact phone number being provided
				to the seller when you make a purchase as per your entry in the checkout section of the website.
			</p>
		</li>
		<li>
			<p>
				If you make a purchase and you do not pay for the item, you will receive a warning from trajans.market
				if the seller complains about you. After 3 such complaints, trajans.market may suspend or terminate your
				membership.
			</p>
		</li>
		<li>
			<p>
				You must only access the Adult category if you are at least 18 years old.
			</p>
		</li>
		<li>
			<p>
				If you use the Buyers Protection (moderated payment), you agree to:
			</p>
			<ol type="i">
				<li>
					<p>
						attempt to resolve any issue with the Seller first, and to inform trajans.market and co-operate
						fully and reasonably to resolve any problem transaction before requesting a refund through
						trajans.market.
					</p>
				</li>
				<li>
					<p>
						trajans.market as the arbitrator, and any decsion taken by trajans.market to be be deemed final.
					</p>
				</li>
				<li>
					<p>
						return the goods (with original packaging) should you seek a refund from the Seller in the event
						that they are not as described or arrive damaged.
					</p>
				</li>
			</ol>
		</li>
	</ol>
	<p>
		<span class="span-header">4.4 Reviews and Ratings </span>
	</p>
	<ol type="a">
		<li>
			<p>
				Reviews are provided for the purpose of facilitating trading between members on the trajans.market
				Website. Reviews you provide on other members must not contain offensive, defamatory, retaliatory or
				inappropriate language or content. trajans.market may remove any reviews that we consider to be
				offensive, defamatory, retaliatory or inappropriate.
			</p>
		</li>
		<li>
			<p>
				You may only give member reviews that relates to a specific transaction. You must not post reviews on a
				transaction that does not relate to that specific transaction.
			</p>
		</li>
		<li>
			<p>
				You must not post reviews about yourself or include any contact details or personal information in your
				reviews.
			</p>
		</li>
	</ol>
	<p>
		<span class="span-header-large">5. Costs and Accounts</span>
	</p>
	<p>
		<span class="span-header">5.1 trajans.market Merchant Costs and Fee Structure</span>
	</p>
	<ol type="a">
		<li>
			<p>
				trajans.market charges sellers a fee for the sale of a listing, as determined by the Merchant Plan
				selected by the seller on the Website. This fee is deducted prior to the seller recieving the payment
				for goods and services.
			</p>
		</li>
		<li>
			<p>
				trajans.market charges sellers a fee for the use of the Featured Merchant service. This fee is in the
				form of a payment sent from the seller to trajans.market prior to the Featured Merchant service
				commencing.
			</p>
		</li>
		<li>
			<p>
				trajans.market's current Merchant Costs and Fee Structure are set out on our
				<span class="span-header">Merchant Costs and Fee Structure page</span> in the support section fo the
				website.
			</p>
		</li>
		<li>
			<p>
				trajans.market reserves the right to change the cost charged for any of our Services at any time. In the
				event that we introduce a new Service, the cost for that Service are effective at the launch of the
				Service, unless otherwise stated.
			</p>
		</li>
	</ol>
	<p>
		<span class="span-header">5.2 trajans.market Accounts</span>
	</p>
	<ol type="a">
		<li>
			<p>
				trajans.market will ensure that, at all reasonable times, an electronic statement is available to you
				(on your 'Dashboard' page) that contains the following information:
			</p>
			<ol type="i">
				<li>
					<p>
						records of the past 500 transactions of your trajans.market account, or all transactions in the
						preceding 1000 days if your trajans.market account has recorded fewer than 500 transactions for
						that period.
					</p>
				</li>
			</ol>
		</li>
	</ol>
	<p>
		<span class="span-header-large">6. General Provisions</span>
	</p>
	<p>
		<span class="span-header">6.1 System Integrity</span>: trajans.market will use its reasonable
		endeavours to ensure the availability of the Website and Services, subject to any downtime
		required for maintenance. However, trajans.market takes no responsibility for any system
		unavailability, or for any loss that is incurred as a result of Website or Services being
		unavailable. Further, trajans.market assumes no responsibility for the corruption of any data or
		information held by trajans.market.
	</p>
	<p>
		<span class="span-header">6.2 Resolution of disputes</span>: As trajans.market is not a party to
		any sale or transaction between you and another member, you agree not to involve, or attempt to
		involve, trajans.market in any dispute or in the resolution of disputes that arise between you
		and another member as a result of the Services provided, other than as provided in clause 4.2 o
		(i), (ii); 4.3 f (i), (ii), (iii).
	</p>
	<p>
		<span class="span-header">6.3 Force Majeure</span>: Without prejudice to clause 2.3(a),
		trajans.market has no liability for any lack of performance, unavailability or failure of the
		Services or the Website, or for any failure of trajans.market to comply with these terms and
		conditions where the same arises from any cause reasonably beyond the control of trajans.market.
	</p>
	<p>
		<span class="span-header">6.4 No Waiver</span>: If we do not exercise or enforce any right
		available to us under these terms and conditions, it does not constitute a waiver of those
		rights.
	</p>
	<p>
		<span class="span-header">6.5 Partial Invalidity</span>: If any provision of these terms and
		conditions becomes or is held to be invalid, unenforceable or illegal for any reason, and in any
		respect, that provision shall be severed from the remaining terms and conditions, which shall
		continue in full force and effect.
	</p>
	<p>
		<span class="span-header">6.6 Governing Law</span>: These terms and conditions are governed by
		the laws of Australia. You submit to the non-exclusive jurisdiction of the Courts of Australia.
	</p>
	<p>
		<span class="span-header">6.7 Intellectual Property Rights</span>: trajans.market (and its
		licensors or suppliers, as the case may be) owns all proprietary and intellectual property
		rights in the Website (including text, graphics, logos, icons and sound recordings) and the
		software and other material underlying and forming part of the Services and the Website.
	</p>
	<ol type="a">
		<li>
			<p>
				You may not without our prior written permission, in any form or by any means:
			</p>
			<ol type="i">
				<li>
					<p>
						Adapt, reproduce, copy, store, distribute, print, display, perform, publish or
						create derivative works from any part of this Website; or
					</p>
				</li>
				<li>
					<p>
						Commercialise, copy, or on-sell any information, or items obtained from any part
						of this Website.
					</p>
				</li>
			</ol>
		</li>
	</ol>
	<p>
		<span class="span-header">6.8 Entire agreement</span>: These terms and conditions supersede all
		previous conditions, understandings, commitments, agreements and representations whatsoever
		whether verbal or written, and constitutes the entire agreement, between the parties, relating
		to the subject matter of these terms and conditions.


	</p>
	<p>
		<span class="span-header">6.9 Privacy</span>: trajans.market will collect and use personal
		information solely with the objective of fulfilling those purposes specified by us and for other
		compatible purposes, unless we obtain the consent of the individual concerned or as required by
		law. Full details are outlined within our <a href="/#!/privacypolicy">privacy policy</a>.
	</p>
</div>
