<section class="row" data-ng-controller="PasswordController">
    <div class="col-xs-6 col-xs-offset-3">
        <h1 class="col-md-12 text-center">Restore your password</h1>
        <p class="text-center p-info">Enter your account username or email to reset your password.</p>
        <form data-ng-submit="askForPasswordReset()" class="signin form-horizontal" autocomplete="off">
            <fieldset>
				<div class="form-group">
					<input type="text" id="user" name="user" class="form-control"
                           data-ng-model="credentials.user" placeholder="Username or Email" />
				</div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-primary">Send E-mail</button>
                </div>
                <div data-ng-show="error" class="text-center text-danger fade-in">
                    <strong>{{error}}</strong>
                </div>
                <div data-ng-show="success" class="text-center text-success fade-in">
                    <strong>{{success}}</strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>