white = #ffffff;
dark-grey = #333333;
darkish-grey = #393833;
slightly-darker-grey = #646C74;
grey-alt = #565A5C;
light-grey = #3F3F3F;
medium-grey = #29292A;
very-light-grey = #efefef;
light-green = #5cb85c;
lighter-grey = #666666;
lightest-grey = #dddddd;
green-grey = #bdc3c7;
primary-green = #50ca8b;
primary-text = #515a63;
secondary-text = #82878e;
navy-blue = #515A63;
primary-red = #E7413A;
primary-blue = #3a80ae;
$krypto-pink = #7C74BF;
$krypto-orange = #F0A332;
$krypto-green = #52BE52;
$krypto-blue = #418DF2;
$krypto-dark-purple = #546BB9;
$krypto-curious-blue = #3A80AE;
primary-yellow = #ffd700;
kryptonaut-navy = #002145;
pink = #DF2147;
transition-light-blue = #23C0FF;
transition-blue-green = #3BC492;
transition-green = #88C801;
transition-orange = #FBBC09;
transition-purple = #866CBA;
new-grey = #F7F7F7;
off-white = #F9FBFF;
label-blue-back = #5992D8;
label-orange-back = #E4A706;
label-green-back = #23AE8F;
map-marker-orange = #FF3D00;
purple = #32387f;
tan = #e5c694;
turq = #546b7c;
light-turq = #87b0b9;
dark-text = #2d3036;

