<div class="recently-added-listings box-icons">
    <div class="col-md-4 col-lg-4 text-center">
        <div class="wow fadeIn home-box-icon-container">
            <ng-include class="home-box-icon nocash" src="'img/icons/Cancel.svg'"></ng-include>
        </div>
        <h3>
            0% Fees
        </h3>
        <p>
            With no listing or success fees, you get paid 100% of your listed sales price in full.
        </p>
    </div>
    <div class="col-md-4 col-lg-4 text-center">
        <div class="wow fadeIn home-box-icon-container" data-wow-delay="0.3s">
            <ng-include class="home-box-icon lock" src="'img/icons/Receive_Cash.svg'"></ng-include>
        </div>
        <h3>
            Instant BTC/AUD
        </h3>
        <p>
            Sell with bitcoin & recieve AUD direct into your bank account via our payment processor BitPOS.
        </p>
    </div>
    <div class="col-md-4 col-lg-4 text-center">
        <div class="wow fadeIn home-box-icon-container" data-wow-delay="0.6s">
            <ng-include class="home-box-icon globe" src="'img/icons/Today1.svg'"></ng-include>
        </div>
        <h3>
            Start selling from $0 per month
        </h3>
        <p>
            Join trajans.market from $0 per month on a professional plan; upgrade as you need more features.
        </p>
    </div>
</div>