<div class="recently-added-listings">
    <div class="col-md-4 col-lg-4 text-center">
        <div class="wow fadeIn home-box-icon-container">
            <ng-include class="home-box-icon" src="'img/icons/Bitcoin_new.svg'"></ng-include>
        </div>
        <h3>
            Shop Smart
        </h3>
        <p>
            Fast, secure and borderless, trajans.market merchants transact with bitcoin.
        </p>
    </div>
    <div class="col-md-4 col-lg-4 text-center">
        <div class="wow fadeIn home-box-icon-container" data-wow-delay="0.3s">
            <ng-include class="home-box-icon" src="'img/icons/Umbrella.svg'"></ng-include>
        </div>
        <h3>
            Shop Safe
        </h3>
        <p>
            trajans.market offers buyers protection enabled by blockchain technology when shopping select merchants.
        </p>
    </div>
    <div class="col-md-4 col-lg-4 text-center">
        <div class="wow fadeIn home-box-icon-container" data-wow-delay="0.6s">
            <ng-include class="home-box-icon" src="'img/icons/Security_Checked.svg'"></ng-include>
        </div>
        <h3>
            Shop with Ease
        </h3>
        <p>
            Verified merchants have completed ID authenticity and are trusted merchants. 
        </p>
    </div>
</div>
<!-- 
<img ng-src="/img/icons/Bitcoin_new.svg" height="18" />
<img ng-src="/img/icons/Cancel.svg" height="18" />
<img ng-src="/img/icons/Receive_Cash.svg" height="18" />
<img ng-src="/img/icons/Security_Checked.svg" height="18" />
<img ng-src="/img/icons/Today1.svg" height="18" />
<img ng-src="/img/icons/Umbrella.svg" height="18" /> -->