<section data-ng-controller="PaymentController" data-ng-init="findOne()">
    <div class="container checkouts">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                    <span>Managing Order Id : {{order._id}}</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="margin-top-20 text-right">
                    <a href="/#!/basket" class="btn btn-secondary">
                        Go to basket
                    </a>
                    <a href="/#!/dashboard/orders" class="btn btn-secondary">
                        Manage My Orders
                    </a>
                </div>
            </div>           
        </div>
    </div>
</section>
