<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="price-plan">
      <div class="radio-toolbar inline-block">
        <input ng-disabled="subscription.billingCycle != 12" type="radio" id="priceplanM" name="priceplan" ng-model="newPlan.name" ng-click="newPlan.billingCycle = 12" value="promonthly" ng-checked="newPlan.billingCycle === 12">
        <label for="priceplanM">Monthly $27.00</label>
      </div>
      <div class="radio-toolbar inline-block">
        <input ng-disabled="subscription.billingCycle != 12" type="radio" id="priceplanA" name="priceplan" ng-model="newPlan.name" ng-click="newPlan.billingCycle = 1" value="proannual" ng-checked="newPlan.billingCycle === 1">
        <label for="priceplanA">Annually $288.00</label>
      </div>
  </div>
</div>