<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="price-plan">
        <div class="radio-toolbar inline-block">
            <input ng-disabled="subscription.billingCycle != 12" type="radio" id="priceplanM" name="priceplan" ng-model="newPlan.name" ng-click="newPlan.billingCycle = 12" value="businessplusmonthly" ng-checked="subscription.billingCycle === 12">
            <label for="priceplanM">Monthly $109.00</label>
        </div>
        <div class="radio-toolbar inline-block">
            <input type="radio" id="priceplanA" name="priceplan" ng-model="newPlan.name" ng-click="newPlan.billingCycle = 1" value="businessplusannual" ng-checked="subscription.billingCycle != 12">
            <label for="priceplanA">Annually $1188.00</label>
        </div>
    </div>
</div>
