<div ng-show="subscription" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="price-plan">
        <div ng-if="subscription.billingCycle === 12" class="radio-toolbar inline-block">
            <input type="radio" id="priceplanM" name="priceplan" ng-model="newPlan.name" ng-click="newPlan.billingCycle = 12" ng-value="businessmonthly" ng-checked="newPlan.billingCycle === 12">
            <label for="priceplanM">Monthly $54.00/Mo</label>
        </div>
        <div class="radio-toolbar inline-block">
            <input type="radio" id="priceplanA" name="priceplan" ng-model="newPlan.name" ng-click="newPlan.billingCycle = 1" ng-value="businessannual" ng-checked="newPlan.billingCycle === 1">
            <label for="priceplanA">Annually $588.00</label>
        </div>
    </div>
</div>
