<div>
    <div class="row" ng-if="!hasOrderWithSeller">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="text-muted">
                Select a country and state to view availibility and shipping
            </p>
            <p>
                <small>
                    {{shippingOptions.length}} shipping options available:
                </small>
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <select class="form-control" ng-options="shipping as generateShippingLocation(shipping.area.name, shipping.country.countryName) for shipping in shippingOptions | orderBy:'area.name'" ng-model="shipping" ng-change="changeMethod(shipping)">
                <option value="">Choose a shipping location..</option>
            </select>
        </div>
    </div>
    <div class="row" ng-if="hasOrderWithSeller">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="text-muted bold">
                You already have a pending order with this seller, choose the quantity you would like to add to your order.
            </p>
        </div>
    </div>
    <div class="row" ng-if="chosenShippingMethod || hasOrderWithSeller">
        <hr/>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div ng-if="!buyDisabled">

                <div>
                    <p class="text-muted">
                        Quantity to purchase ({{quantityAvailable}} available).
                    </p>
                    <input type="number" min="1" max="{{quantityAvailable}}" ng-change="quantityChanged(quantity)" data-ng-model="quantity" name="quantity">
                </div>
                <hr ng-if="!hasOrderWithSeller">
                <p ng-if="chosenShippingMethod.shippingCost === 0" class="bold text-muted">
                    Shipping to {{chosenShippingMethod.location}} is free for this item.
                </p>
                <p ng-if="chosenShippingMethod.shippingCost > 0">
                    Shipping to {{chosenShippingMethod.location}} costs <b>{{chosenShippingMethod.shippingCost | exchange}} or {{chosenShippingMethod.shippingCost | exchangebitcoin}}.</b>
                </p>
                <p class="text-muted" ng-if="chosenShippingMethod.shippingAdditionalCost > 0">
                    This item will cost : <b>{{chosenShippingMethod.shippingAdditionalCost | exchange}} or {{chosenShippingMethod.shippingCost | exchangebitcoin}}</b> when shipping with another item from this merchant.
                </p>
            </div>
            <div ng-if="buyDisabled">
                <p class="text-muted">
                    <i class="green icon icon-checkmark"></i> Item added to shopping basket!
                </p>
            </div>
        </div>
    </div>
</div>