<div>
    <section data-ng-controller="VerificationController">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>Bitpos Verification..</h1>
                    <p>
                        You are being redirected to BitPOS to create an account and verify your ID - Please note you must be on a business or business plus subscription in order to complete this function.
                    </p>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>Identity Verification</h1>
                </div>
            </div>
            <div class="row identity-verification">
                <div class="col-xs-12">
                    <h3>
                        Verify your indentification
                    </h3>
                    <hr>
                    <p class="margin-bottom-20">There are two ways of verifying your identity on TRAJANS.MARKET.</p>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 section margin-top-20">
                        <div class="section-inner section-left">
                            <img src="/img/netverify_logo_cmyk_black_on_white.jpg" height="40">
                            <hr>
                            <p>TRAJANS.MARKET uses Netverify to confirm our members identity in over 100 countries.</p>
                            <p>This process can be completed in a few minutes.</p>
                            <hr>
                            <a href="" class="btn btn-primary">VERIFY WITH NETVERIFY</a>
                        </div>
                    </div>                                    
                   
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 section margin-top-20">
                        <div class="section-inner section-right">
                            <h4>
                                Upload ID Files
                            </h4>  
                            <img height="40" src="/img/Upload.svg" height="70">            
                            <hr>
                            <p>
                                If you cannot complete the Netverify process, you can securely upload your ID documents here.
                            </p>
                            <p>
                                It may take up to 3 business days for us to review your documents.
                            </p>
                            <hr>
                            <a ng-href="/#!/settings/verification/documents"class="btn btn-primary">UPLOAD ID FILES</a>
                        </div>  
                    </div>
                </div>
            </div> -->
        </div>
    </section>
</div>
